@media (min-width:768px) {
    .products-ul .maishiyTexnika-ul {
        flex-wrap: wrap;
    }
    .products-box .maishiyTexnika-box {
        width: 274px;
    }

    .head-li {
        margin-right: 20px;
    }
    .head-li-a {
        font-size: 20px;
    }
}